.App {
  text-align: center;
}
.block {
  height: 100%; /* 100% Full-height */
  width: 5%; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 5; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #000000 !important; /* Black*/
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s;
  border-radius: 1%;
}
.secret{
  overflow: hidden;
  text-align: center;
  margin-top: 20%;
}
.block:hover{
  background-color: #000000!important; /* Black*/
  width: 100%;
  color: #fff;
  content: "You are the best";
  text-align: center;
  
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
